
  nav{
    top: 0;
    position: sticky;
  }
  .link {
    transition: color ease-in-out 300ms;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}
  .active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color:green;
    text-decoration: underline;
  } 


.link-container{
    padding-top: 10px;
    background-color:lightgray;
    height: 50px;
}

.link{
  
    text-decoration: none;
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link:hover{
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px;
    color: aquamarine;
    
}