/* nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    padding: 0 10%;
    font-family: "Teko", sans-serif;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }*/
  
  .link {
    transition: color ease-in-out 300ms;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}
  
  
  
  .active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color:green;
    text-decoration: underline;
  } 
.link-container{
    background-color: aliceblue;
}
.link{
    text-decoration: none;
    
    font-weight: bolder;
    margin-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link:hover{
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px;
    color: aquamarine;
    
}